body,
header {
  margin: 0px;
  padding: 0px;
}
.hello {
  color: white;
  width: 100%;
  min-height: 600px;
  background-image: url(./img/bg_photo_11949.jpg);
  background-repeat: no-repeat;
  /* background-position: center; */
  /* background-attachment: fixed; */
  background-origin: border-box;
}
.box {
  display: flex;
  align-items: center;
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px 0;
}
.box > img {
  margin-right: 20%;
}
.box > ul {
  width: 100%;
  list-style: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carousel {
  max-width: 1250px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
}
.icon:hover {
  fill: orange;
}
.nav {
  width: 57px;
  height: 11px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.click {
  border: 1px solid black none;
  background-color: #998675;
  border-radius: 5px;
  font-family: Raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  width: 100%;
}
.features {
  border: 1px solid black none;
  list-style: none;
}
.fetures-display {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}
.features-icon {
  margin-left: 170px;
}
.features-title {
  font-family: Raleway;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin-left: 80px;
}
.features-txt {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
}
.waxomrel {
  width: 100%;
  height: 28px;
  color: #555555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.waxominvest {
  width: 100%;
  height: 43px;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  text-align: center;
  /* Text style for "Investigat" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.multi_photo {
  width: 100%;
  min-height: 200px;
  background-image: url("https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"),
    url("https://images.pexels.com/photos/371633/pexels-photo-371633.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"),
    url("https://cdn.mos.cms.futurecdn.net/FUE7XiFApEqWZQ85wYcAfM.jpg");

  background-size: 60%, 20%, 20%;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
}
.allwaxom {
  width: 100%;
  background-color: #ffffff;
}
.waxommulti {
  width: 100%;
  background-color: #231c19;
  padding-top: 10px;
}
.click2 {
  border: 1px solid black none;
  border-radius: 3px;
  background-color: #998675;
}
.last {
  width: 100%;
  background-color: #ffffff;
}
.olp {
  /* Style for "Our Latest" */
  width: 100%;
  height: 28px;
  color: #555555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  /* Text style for "Our Latest" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.invest {
  /* Style for "Investigat" */
  width: 100%;
  height: 43px;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  text-align: center;
  /* Text style for "Investigat" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.invest-main {
  border: 1px solid black none; /* Style for "button" */
  width: 80px;
  height: 32px;
  border-radius: 3px;
  background-color: #998675;
  background-color: #998675;
  list-style: none;
}
.invest-main-all {
  display: flex;
  justify-content: space-around;
}
.article {
  width: 200px;
  border: 1px solid black;
  position: relative;
  list-style: none;
}

.article:hover .article-btn-link {
  display: block;
}

.article:hover .article-btn-search {
  display: block;
}

.article:hover .article-btn-link:hover {
  background-color: red;
}

.article:hover .article-btn-search:hover {
  background-color: red;
}

.article:hover .article-photo {
  filter: brightness(20%);
}

.article:hover .article-txt-wrapper {
  background-color: brown;
}

.article:hover .article-txt-wrapper:before {
  border-bottom: 10px solid brown;
}

.article-photo {
  display: block;
  width: 100%;
}

.article-txt-wrapper {
  width: 100%;
  /* border: 1px solid red; */
  position: relative;
  background-color: #ccc;
}

.article-txt-wrapper:before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  position: absolute;
  top: -20px;
  left: 19px;
}

.article-title {
  display: block;
  text-align: center;
  padding: 10px 10px 0 10px;
}

.article-txt {
  display: block;
  text-align: center;
  padding: 5px;
}

.article-btn-link,
.article-btn-search {
  width: 20px;
  height: 20px;
  display: none;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 45%;
}

.article-btn-link {
  background-image: url("https://image.flaticon.com/icons/png/512/34/34735.png");
  left: 35%;
}

.article-btn-search {
  background-image: url("https://static.thenounproject.com/png/101791-200.png");
  right: 35%;
}
.all-article {
  display: flex;
  justify-content: space-evenly;
}
.po-click {
  text-align: center;
}
